n8n-wrokflows/Job outreach recovery (extract contacts + email if missing).json
{
  "name": "Job outreach recovery (extract contacts + email if missing)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        136
      ],
      "id": "61e87e91-2711-4069-8cd2-8b5ce56cdbf4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "jobs",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "contacts_extracted",
              "condition": "is",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        136
      ],
      "id": "58ad9b87-246b-4c69-9e1f-50abf895e5c1",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "UgJZt2YIwF9raxzT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the job description and my current resume. Evaluate alignment and generate output as defined in the System Prompt.\n\n### Job Description:\n{{ $('Set Job Details').item.json.job_description }}\n\n### My Resume:\n{{ $('Set Global Vars').first().json.resume }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert ATS evaluator and résumé matching assistant.\n\nYour job is to analyze a Job Description (JD) and compare it with the user’s résumé.\n\nYour output must be a JSON object with the following structure:\n{\n  \"relevancy\": boolean,\n  \"score\": \"XX%\",\n  \"justification\": [\n    \"Short bullet reasoning 1\",\n    \"Short bullet reasoning 2\",\n    \"Short bullet reasoning 3\"\n  ]\n}\n\nScoring rules:\n- Identify key JD requirements (skills, technologies, responsibilities, seniority)\n- Compare them against the résumé\n- Score must be an integer % between \"0%\" and \"100%\"\n- relevancy = true if score ≥ 50%, else false\n\nRules:\n- Justification must be 3–7 short bullets\n- JSON only — no text outside JSON\n- No hallucinations: base everything strictly on the provided résumé and JD"
        }
      },
      "id": "7994fd8c-31bc-48c2-bfae-4ea8acef9e0e",
      "name": "Job Match AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1616,
        -440
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"Job Match & Tailored Resume Output\",\n  \"type\": \"object\",\n  \"required\": [\"relevancy\", \"score\", \"justification\"],\n  \"properties\": {\n    \"relevancy\": {\n      \"type\": \"boolean\",\n      \"description\": \"True if candidate suitability score >= 50%, else False\"\n    },\n    \"score\": {\n      \"type\": \"string\",\n      \"pattern\": \"^(100|[1-9][0-9]?|0)%$\",\n      \"description\": \"Percentage string from 0% to 100% without leading zeros\"\n    },\n    \"justification\": {\n      \"type\": \"array\",\n      \"minItems\": 1,\n      \"maxItems\": 10,\n      \"items\": {\n        \"type\": \"string\",\n        \"minLength\": 5,\n        \"description\": \"Short bullet point reasoning for relevancy\"\n      }\n    }\n  },\n  \"additionalProperties\": false\n}\n"
      },
      "id": "56b30450-3493-4df1-95f6-108830315503",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1760,
        -256
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "978abce9-0189-45fe-9e28-ba74633b4561",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.output.relevancy }}",
              "rightValue": ""
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "cb1a4fb0-abe8-474f-9c5f-5552ac4faffc",
      "name": "If Relevant",
      "type": "n8n-nodes-base.if",
      "position": [
        1968,
        -440
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the job description and my current resume. Evaluate alignment and generate output as defined in the System Prompt.\n\n### Job Description:\n{{ $('Set Job Details').first().json.job_description }}\n\n### My Resume:\n{{ $('Set Global Vars').first().json.resume }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert ATS résumé optimizer.\nYour goal: rewrite the provided resume into a structured JSON resume tailored to the given Job Description (JD).\n\nRules:\n- Output MUST be a valid JSON object matching the exact resume schema provided.\n- return all the information, even if no updates to those field\n- Do NOT output HTML or Markdown.\n- Strict JSON only.\n- Follow the schema structure: exactly as the resume.\n- Use the provided resume data and JD to tailor the content (summary, experience descriptions).\n- If a field is missing in source, use null as per schema.\n- Preserve truth while optimizing alignment with JD."
        }
      },
      "id": "b711a6d3-ad63-4355-9cba-19ff83e92ae7",
      "name": "Resume Tailoring Ai",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2416,
        -448
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Global Vars').first().json.telegram_chat_id }}",
        "text": "=FINISHED SCHEDULE",
        "additionalFields": {}
      },
      "id": "97835fc4-6eb4-4e6f-b50d-093de171a4b7",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1168,
        -488
      ],
      "webhookId": "b7f09f7d-66e2-454a-8da8-ee314fe64c1c",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "zR5TTxftQEm2MYTo",
          "name": "Job Automation Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🧠 Stage 3: Job Screening & Resume Tailoring\n---\n\n- AI Job Match: Evaluate each job for relevance using the base resume.\n- Conditional Check: Only continue if the job is a good match.\n- AI Resume Tailoring: Create a role-optimized resume using the job description.\n- Resume Formatting & Upload: Convert tailored resume to a file and store it.\n- Notifications: Send an update (Telegram) of Schedule Completion.\n- Logging & Tracking: Save job application and relavancy details into a Supabase for record-keeping.",
        "height": 784,
        "width": 2480,
        "color": 2
      },
      "id": "6827127f-c2f3-4756-a929-fba4f0ebfe1c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1224,
        -732
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f2daf8d1-b5a8-4af3-8efa-158bd9726f61",
      "name": "Loop Over Unique Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        944,
        136
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69b33c3c-f9c5-4937-8fcd-68d19ccb6b30",
              "name": "job_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "0d898d14-aa96-416c-bc85-5112ebc2f493",
              "name": "job_title",
              "type": "string",
              "value": "={{ $json.job_title }}"
            },
            {
              "id": "eaee3ae6-4329-420d-a584-415db1952e44",
              "name": "job_description",
              "type": "string",
              "value": "={{ $json.job_description }}"
            },
            {
              "id": "ed2fc237-bb2a-4439-9dc7-1997b3b1545b",
              "name": "job_url",
              "type": "string",
              "value": "={{ $json.job_url }}"
            },
            {
              "id": "28c76a1e-037e-43b8-b8a8-29b302b08d79",
              "name": "seniority_level",
              "type": "string",
              "value": "={{ $json.seniority_level }}"
            },
            {
              "id": "69d585d6-de59-48f9-891c-f46ac63f53aa",
              "name": "company_name",
              "type": "string",
              "value": "={{ $json.company_name }}"
            },
            {
              "id": "ec4705c3-a146-476f-aa64-75b3128f4762",
              "name": "company_url",
              "type": "string",
              "value": "={{ $json.company_url }}"
            },
            {
              "id": "19a18e1f-89ba-4427-9ace-902b86058e26",
              "name": "employment_type",
              "type": "string",
              "value": "={{ $json.employment_type }}"
            },
            {
              "id": "67013fc0-1135-4ac6-a685-c1e296e36477",
              "name": "apply_url",
              "type": "string",
              "value": "={{ $json.apply_url }}"
            },
            {
              "id": "b6809ef9-3ee8-4d73-b7df-556061f69800",
              "name": "time_posted",
              "type": "string",
              "value": "={{ $json.time_posted }}"
            },
            {
              "id": "7113449c-eedb-484e-bcec-719e5e43b1d8",
              "name": "easy apply",
              "value": "={{ $if($json.applyUrl, false, true) }}",
              "type": "boolean"
            },
            {
              "id": "495442a7-461b-419d-96b8-3c8a17ea530e",
              "name": "salary_min",
              "value": "={{ $json.salary_min }}",
              "type": "string"
            },
            {
              "id": "49a79ac9-9d75-4d7d-8d07-acc28397abbe",
              "name": "salary_max",
              "value": "={{ $json.salary_max }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "403a9d16-d481-445d-9fa6-d81200fbb4f3",
      "name": "Set Job Details",
      "type": "n8n-nodes-base.set",
      "position": [
        1392,
        -440
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        360
      ],
      "id": "95f22f3e-bcc9-4d9d-bba7-77933d80f235",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NmwkmHCMLUcvTJvZ",
          "name": "n8n job automation"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\n    \"name\",\n    \"summary\",\n    \"experience\",\n    \"projects\",\n    \"education\",\n    \"skills\"\n  ],\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"jobTitle\": { \"type\": \"string\" },\n    \"summary\": { \"type\": \"string\" },\n\n    \"experience\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"object\" }\n    },\n\n    \"projects\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"object\" }\n    },\n\n    \"education\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"object\" }\n    },\n\n    \"skills\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n\n    \"certificates\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"object\" }\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2552,
        -224
      ],
      "id": "c655b280-1d18-422b-8a67-c34036c3f97c",
      "name": "Structured Resume Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        568
      ],
      "id": "c56f5e92-3520-4aa0-a20a-fdf0b71783fc",
      "name": "Google Gemini Chat Model-1",
      "credentials": {
        "googlePalmApi": {
          "id": "v2QNkw3UnCGAv8Qx",
          "name": "gemini daxa"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "resume",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2992,
        -448
      ],
      "id": "aa7d7996-ef8a-4a55-9c70-31ff45bc4120",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "const tailoredResume = $input.first().json.output;\nconst originalResume = typeof $(\"Set Global Vars\").first().json.resume === 'string' \n  ? JSON.parse($(\"Set Global Vars\").first().json.resume) \n  : $(\"Set Global Vars\").first().json.resume;\n\n/**\n * Simple recursive merge to combine tailored resume with original.\n * Prioritizes tailored values but preserves fields not present in tailored.\n */\nfunction deepMerge(target, source) {\n  for (const key in source) {\n    if (source[key] && typeof source[key] === 'object' && !Array.isArray(source[key])) {\n      if (!target[key] || typeof target[key] !== 'object') {\n        target[key] = source[key];\n      } else {\n        deepMerge(target[key], source[key]);\n      }\n    } else if (target[key] === undefined || target[key] === null || target[key] === '') {\n      // Only fill if tailored version is missing or empty\n      target[key] = source[key];\n    }\n  }\n  return target;\n}\n\n// Tailored resume is the base (prioritize it), original fills the gaps\nconst mergedResume = deepMerge(tailoredResume, originalResume);\n\nreturn mergedResume;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        -448
      ],
      "id": "57668723-5162-4be4-bd79-f5ffb0e44d6a",
      "name": "remove wrapper"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Set Base Path').first().json.basePath }}/automation/{{ $('Set Job Details').item.json.job_id }}/resume.json",
        "dataPropertyName": "resume",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        3216,
        -448
      ],
      "id": "07b3bddc-2d00-4d4c-9b8a-57592e03ccff",
      "name": "Save resume.json"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $('Set Base Path').first().json.basePath }}/automation/{{ $('Set Job Details').item.json.job_id }}"
      },
      "id": "41712294-b989-4fd3-be14-83d3a2185d55",
      "name": "Create Folder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2192,
        -448
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate Email",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3664,
        -784
      ],
      "id": "ffa81d99-995b-444a-83de-a1b486bed0d4",
      "name": "Email Generate",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3680,
        -784
      ],
      "id": "15dcd0fc-c05a-46f9-88be-610ecc159f5d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NmwkmHCMLUcvTJvZ",
          "name": "n8n job automation"
        }
      }
    },
    {
      "parameters": {
        "command": "=node /Users/copods/Documents/Projects/personal/resume/index.js {{ $('Set Job Details').item.json.job_id }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3440,
        -448
      ],
      "id": "e740a72e-621c-41a7-be4c-8fa24f65d0ba",
      "name": "Generate Resume PDF"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2192,
        -108
      ],
      "id": "d880ef9c-bdbf-4f1b-80df-68fc40d67608",
      "name": "Wait2",
      "webhookId": "e89713ab-6d13-4f6a-8148-196461b2287b"
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        2424,
        -224
      ],
      "id": "eaea5364-3db7-4e75-9da4-9ed0603a477b",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "QMuuAPX2Mhdd9cuv",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Set Job Details').first().json.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "relavancy_score",
              "fieldValue": "={{ $json.output.score.replace(\"%\",\"\").toNumber() }}"
            }
          ]
        }
      },
      "id": "999f1c7c-2237-44fb-94b3-62b10b1ac55b",
      "name": "Update job relevancy in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2192,
        -640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "UgJZt2YIwF9raxzT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📧 Stage 5: Send Updates\n---\n\n- **Send notifications:** Sends notifications via Telegram and fires off customized outreach emails directly to the identified contacts at the hiring company.\n",
        "height": 784,
        "width": 1008,
        "color": 4
      },
      "id": "7976fc17-d4b6-439f-9bdd-68ac4672be64",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5688,
        -756
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get TO and CC emails').item.json.toEmail }}",
        "subject": "=Quick Question About {{ $('Set Job Details').item.json.job_title }} Role",
        "message": "=<p>Hi {{ $('Get Emails Dataset').item.json.firstName }},</p>\n\n<p>I recently found the <strong>{{ $('Set Job Details').item.json.job_title }}</strong> opening at {{ $('Set Job Details').item.json.company_name }} and it aligns closely with my experience in Full Stack Development.</p>\n\n<p>Since you're part of the team, I wanted to ask if you'd be open to referring me if you believe my background is a fit. I've attached my resume for context.</p>\n\n<p>Even brief guidance would be appreciated.</p>\n\nCheckout my Work: <a href=\"{{ $('Set Global Vars').first().json.githubLink }}\">github</a> | <a href=\"{{ $('Set Global Vars').first().json.linkedinLink }}\">linkedin</a> | <a href=\"{{ $('Set Global Vars').first().json.portfolioLink }}\">portfolio</a> | <a href=\"{{ $('Set Global Vars').first().json.resumeLink }}\">resume</a></p>\n\n<p>Thanks,<br>\nRahat Sayyed<br>\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "ccList": "={{ $('Get TO and CC emails').item.json.ccEmails.join(',') }}",
          "senderName": "Rahat Sayyed"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6480,
        -132
      ],
      "id": "680c9287-2397-477d-bb46-3145f0f2bf0f",
      "name": "Send a message",
      "webhookId": "9416475d-b942-4d12-a999-11ac7bf409d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "t4yo8xcujGnb6dJC",
          "name": "n8n job gmail"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Set Base Path').first().json.basePath }}/automation/{{ $('Set Job Details').item.json.job_id }}/resume.pdf",
        "options": {
          "fileName": "Rahat Sayyed - Resume.pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        6256,
        -132
      ],
      "id": "0f12aae0-d6cc-499c-862f-caf22b282085",
      "name": "read resume1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "c2309c21-1a77-4bef-93f5-abb0ec8ad156",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        4016,
        -120
      ],
      "webhookId": "4478fc34-e3b9-47e5-a76a-2cd3f6c1422e",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c5caa229-b0db-42d9-bc94-c97ee11cc9a7",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCEEDED"
            }
          ]
        },
        "options": {}
      },
      "id": "aeed5809-ad4b-4cff-a3f6-5c469124004f",
      "name": "If SUCCEEDED1",
      "type": "n8n-nodes-base.if",
      "position": [
        4688,
        -120
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a6e65b5b-2e60-458d-91ad-ac90aea7943d",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "RUNNING"
            }
          ]
        },
        "options": {}
      },
      "id": "30c300e5-4c01-4589-a3c3-8948cd19b75d",
      "name": "If RUNNING1",
      "type": "n8n-nodes-base.if",
      "position": [
        4464,
        -120
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "Apify Status is not SUCCEEDED/RUNNING"
      },
      "id": "8a746d8f-c939-4f00-904b-7719a11c8597",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        4912,
        12
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "Actor runs",
        "operation": "Get run",
        "runId": {
          "__rl": true,
          "value": "={{ $('Run Emails Actor').first().json.id }}",
          "mode": "id"
        }
      },
      "id": "5f744235-84c2-4c41-b014-c61809649a89",
      "name": "Get run1",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        4240,
        -204
      ],
      "typeVersion": 1,
      "credentials": {
        "apifyApi": {
          "id": "ch9pSz2QbUB1t9yd",
          "name": "Apify Default Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🧠 Stage 4: Email Finding\n---\n- Leverages another Apify Actor to find contact emails for the company and the job poster.\n- Pauses the workflow until the email finding completes.\n- Formats these emails in preparation for Supabase storage and automated outreach messages.",
        "height": 656,
        "width": 1008,
        "color": 5
      },
      "id": "739483f0-133e-4634-a23b-53fdbad083b6",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3896,
        -616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5584,
        -132
      ],
      "id": "e631d644-a80f-4644-b8ff-22e833f0ca83",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Set Base Path').first().json.basePath }}/automation/{{ $('Set Job Details').item.json.job_id }}/resume.pdf",
        "options": {
          "fileName": "Rahat Sayyed - Resume.pdf"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        5808,
        -324
      ],
      "id": "e5d49291-4748-4697-b1be-510db8636874",
      "name": "read resume2"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Set Global Vars').first().json.telegram_chat_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "31fe4ce4-2bfb-4bd4-8fd2-0e38c9c28307",
      "name": "Send a document1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        6032,
        -324
      ],
      "webhookId": "b7f09f7d-66e2-454a-8da8-ee314fe64c1c",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "zR5TTxftQEm2MYTo",
          "name": "Job Automation Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Global Vars').first().json.telegram_chat_id }}",
        "text": "={{ \n\"*Sent Emails for:*\\n\\n\" +\n\"*Company Name:* \" + $node[\"Set Job Details\"].json.company_name.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \"\\n\" +\n\"*Company Linkedin:* \" + $node[\"Set Job Details\"].json.company_url.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \"\\n\"\n}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6256,
        -324
      ],
      "id": "c5ddf8af-992f-49e4-987c-f64e4a2ad29b",
      "name": "Message Company Details2",
      "webhookId": "2311b4ba-f4ac-4f8c-bda4-de888cdb9128",
      "credentials": {
        "telegramApi": {
          "id": "zR5TTxftQEm2MYTo",
          "name": "Job Automation Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items and take the last one\nconst items = $input.all();\nconst lastItem = items[items.length - 1];\nconst emails = lastItem.json?.email ?? lastItem.json?.emails ?? [];\n\n\n// TO: first email; CC: rest\nconst toEmail = Array.isArray(emails) ? (emails[0] ?? '') : emails;\nconst ccEmails = Array.isArray(emails) ? emails.slice(1) : [];\n\nreturn [\n  {\n    json: {\n      toEmail,\n      ccEmails,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6032,
        -132
      ],
      "id": "5988eda0-79fe-415e-9a92-22d0e2b22ba8",
      "name": "Get TO and CC emails"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Format items from Get Emails Dataset.\n * email: array. emailThread: empty until email is sent. Merge on id.\n */\n\nfunction toEmailArray(j) {\n  const raw = j.emails ?? j.email ?? j.emailAddresses ?? j.contactEmail ?? j.to ?? j.toEmail;\n  if (raw != null) {\n    if (Array.isArray(raw)) {\n      const arr = raw.map((e) => (typeof e === \"string\" ? e : e?.email ?? e?.address ?? e?.value ?? \"\")).filter((s) => typeof s === \"string\" && s.length > 0);\n      if (arr.length) return arr;\n    } else {\n      const s = String(raw);\n      if (s) return [s];\n    }\n  }\n  const collected = [];\n  for (const key of Object.keys(j)) {\n    if (!/email/i.test(key)) continue;\n    const v = j[key];\n    if (Array.isArray(v)) v.forEach((e) => { const s = typeof e === \"string\" ? e : e?.email ?? e?.address ?? e?.value; if (s) collected.push(String(s)); });\n    else if (v != null && v !== \"\") collected.push(String(v));\n  }\n  return collected;\n}\n\nfunction ensureEmailArray(v) {\n  if (Array.isArray(v)) return v;\n  if (typeof v === \"string\") return v ? [v] : [];\n  return [];\n}\n\nlet existingRecords = [];\nconst firstItem = $input.first();\nif (firstItem.json?.cellValue) {\n  try {\n    const parsed = JSON.parse(firstItem.json.cellValue);\n    existingRecords = Array.isArray(parsed) ? parsed : [];\n  } catch (_) {}\n} else if (firstItem.json?.data || firstItem.json?.records) {\n  const maybeArray = firstItem.json.data || firstItem.json.records;\n  if (Array.isArray(maybeArray)) existingRecords = maybeArray;\n}\n\nconst items = $input.all().filter((i) => !i.json?.cellValue && (i.json?.id != null || i.json?.name != null || i.json?.firstName != null));\nif (items.length === 0 && existingRecords.length === 0) {\n  return [{ json: { id: \"\", name: \"\", linkedin: \"\", email: [], emailSent: \"\", emailThread: \"\", followup1: \"\", followup2: \"\" } }];\n}\n\nfunction toRecord(item) {\n  const j = item.json;\n  const date = j.date || j.internalDate || j.sentDate || j.createdAt || new Date().toISOString();\n  const linkedin = j.linkedinUrl;\n  const name = j.firstName || j.lastName || \"\";\n  const email = toEmailArray(j);\n  return {\n    job_id: $('Set Job Details').first().json.job_id,\n    name: String(name || \"\"),\n    linkedin: String(linkedin || \"\"),\n    email,\n    emailSent: \"\",\n    emailThread: \"\",\n    followup1: \"\",\n    followup2: \"\",\n    reply_received: false\n  };\n}\n\nconst newRecords = items.map(toRecord);\nconst byId = (r) => String(r.id || \"\");\nconst existingById = new Map(existingRecords.map((r) => [byId(r), r]));\nfor (const rec of newRecords) {\n  const id = byId(rec);\n  const existing = existingById.get(id);\n  const merged = existing\n    ? {\n        ...existing,\n        ...rec,\n        email: rec.email?.length ? rec.email : ensureEmailArray(existing.email),\n        emailThread: (rec.emailThread && rec.emailThread.length) ? rec.emailThread : (existing.emailThread || \"\"),\n        lastUpdated: new Date().toISOString(),\n      }\n    : { ...rec, lastUpdated: new Date().toISOString() };\n  existingById.set(id || `new-${existingById.size}`, merged);\n}\nconst merged = Array.from(existingById.values());\nreturn merged.map((r) => ({ json: { ...r, email: ensureEmailArray(r.email) } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5136,
        -228
      ],
      "id": "e816ce15-c067-4caa-9741-20e56bcc0bdd",
      "name": "Formating emails for storage"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.storageIds.datasets.default }}",
        "offset": {},
        "limit": {},
        "options": {}
      },
      "id": "53ada0c8-8ca3-40c3-acaf-650a2a740f73",
      "name": "Get Emails Dataset",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        4912,
        -228
      ],
      "typeVersion": 1,
      "credentials": {
        "apifyApi": {
          "id": "ch9pSz2QbUB1t9yd",
          "name": "Apify Default Token"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "job_id",
              "fieldValue": "={{ $json.job_id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "linkedin",
              "fieldValue": "={{ $json.linkedin }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "email_sent_at",
              "fieldValue": "={{ $json.emailSent || null }}"
            },
            {
              "fieldId": "email_thread_id",
              "fieldValue": "={{ $json.emailThread || null }}"
            },
            {
              "fieldId": "followup1_sent_at",
              "fieldValue": "={{ $json.followup1 || null }}"
            },
            {
              "fieldId": "followup2_sent_at",
              "fieldValue": "={{ $json.followup2 || null }}"
            }
          ]
        }
      },
      "id": "0ff09adf-3d6d-4171-b208-65d58d37f0a6",
      "name": "Create contact in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5360,
        -228
      ],
      "credentials": {
        "supabaseApi": {
          "id": "UgJZt2YIwF9raxzT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contacts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.contact_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email_sent_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "email_thread_id",
              "fieldValue": "={{ $json.threadId }}"
            }
          ]
        }
      },
      "id": "0ec44642-901a-496a-8907-a92c99ad2b54",
      "name": "Update contact after email sent",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6704,
        -60
      ],
      "credentials": {
        "supabaseApi": {
          "id": "UgJZt2YIwF9raxzT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "154341aa-418b-477b-8d07-67a2e49dddd6",
              "name": "contact_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5808,
        -132
      ],
      "id": "7b72f2ee-251c-499d-bcc0-b93f633973d8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/M2FMdjRVeF1HPGFcc",
          "mode": "url"
        },
        "customBody": "={\n    \"autoQuerySegmentation\": false,\n    \"currentCompanies\": [\n        \"{{ $('Set Job Details').item.json.company_url }}\"\n    ],\n    \"functionIds\": [\n        \"8\"\n    ],\n    \"maxItems\": 25,\n    \"profileScraperMode\": \"Full + email search\",\n    \"recentlyChangedJobs\": false,\n    \"searchQuery\": \"Full Stack Developer OR Developer OR Backend Developer OR Frontend Developer OR Software Engineer OR HR OR Human Resource\",\n    \"seniorityLevelIds\": [\n        \"120\",\n        \"110\",\n        \"130\",\n        \"200\",\n        \"210\",\n        \"220\",\n        \"300\",\n        \"310\"\n    ],\n    \"startPage\": 1,\n    \"yearsAtCurrentCompanyIds\": [\n        \"2\",\n        \"3\",\n        \"4\",\n        \"5\"\n    ]\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        3776,
        -112
      ],
      "id": "d7ccb6bc-7781-4488-92db-0547c04134e8",
      "name": "Run Emails Actor",
      "credentials": {
        "apifyApi": {
          "id": "ES64iNH9JLOkhXJM",
          "name": "rahxtsayyed dafault"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contacts_extracted",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5584,
        -324
      ],
      "id": "ab1650a1-a551-4f28-83cc-a48aa5c0ce1c",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "UgJZt2YIwF9raxzT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.relavancy_score }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "ae85fb7d-ed1d-418b-bd2e-4e9290c45ba1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "relavancy check"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a6155616-d617-4d66-a518-d53f23be4ae5",
                    "leftValue": "={{ $json.relavancy_score }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "relavant jobs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3b581171-f113-42fe-978d-338f76fc3630",
                    "leftValue": "={{ $json.relavancy_score }}",
                    "rightValue": 51,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Irrelavant Job"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1168,
        -296
      ],
      "id": "4bd1c7b5-985b-4fd8-aefc-f2c5f8759d12",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4ce6e58-d537-42d3-9566-5555fbcd1ab3",
              "name": "resume",
              "type": "string",
              "value": "={{ $json.data }}"
            },
            {
              "id": "d7c207ae-5f67-4de7-a1bd-5d8d7706ae5b",
              "name": "telegram_chat_id",
              "type": "string",
              "value": "1125208540"
            },
            {
              "id": "6f9c722b-c14a-48f1-9aef-435fe279d182",
              "name": "linkedinLink",
              "value": "https://linkedin.com/in/rahatsayyed",
              "type": "string"
            },
            {
              "id": "8bbaa828-1cb6-4dce-a9aa-34089f75840e",
              "name": "githubLink",
              "value": "https://github.com/rahatsayyed",
              "type": "string"
            },
            {
              "id": "d98536ef-25a2-4223-b26b-34144d165ff9",
              "name": "portfolioLink",
              "value": "https://rahatsayyed.xyz",
              "type": "string"
            },
            {
              "id": "a6347f0c-c355-4197-9f25-1b8e9ed6d65b",
              "name": "resumeLink",
              "value": "https://flowcv.com/resume/w0f4aim4wh",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c57f3127-07bb-4557-9018-cde0bb26e1c0",
      "name": "Set Global Vars",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        136
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bp-001",
              "name": "basePath",
              "type": "string",
              "value": "/Users/copods/Documents/Projects/personal/resume"
            }
          ]
        },
        "options": {}
      },
      "id": "df6e144c-fd8f-448a-b074-ac16c25ba824",
      "name": "Set Base Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        136
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        272,
        136
      ],
      "id": "d506b5c2-7b38-42bb-980a-366467a7a221",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.basePath }}/input/resume.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        48,
        136
      ],
      "id": "b638d5d3-13e3-4459-8599-a41cfe21abb6",
      "name": "Read/Write Files from Disk2"
    }
  ],
  "pinData": {
    "Job Match AI": [
      {
        "json": {
          "output": {
            "relevancy": true,
            "score": "52%",
            "justification": [
              "3+ years experience matches JD requirement",
              "Has NoSQL experience with Firestore and MongoDB",
              "Some work on AI security platform and data dashboards shows minor data handling",
              "Lacks GCP expertise including Dataflow, Pub/Sub, Cloud Composer, Spark",
              "No experience with RAG pipelines, vector databases, or knowledge graphs",
              "Missing Python/Java skills; focused on JavaScript/TypeScript/Node.js",
              "Primarily blockchain/full-stack dev, not data engineering pipelines"
            ]
          }
        }
      }
    ],
    "Resume Tailoring Ai": [
      {
        "json": {
          "output": {
            "name": "Rahat Sayyed",
            "jobTitle": "Senior Software Engineer",
            "summary": "Experienced Software Engineer specializing in scalable data platforms, secure API integrations, and high-performance dashboards. Proficient in full-stack development with Node.js, RESTful APIs, MongoDB, and Firestore. Built data exploration tools converting natural language to SQL queries, PII detection workflows for data validation, and policy-driven data access controls. Optimized systems for performance, achieving 99.9% uptime, reduced load times, and cost efficiencies through refactoring and secure architectures. Strong collaborator with cross-functional teams, ensuring reliable data flows and rapid iterations.",
            "experience": [
              {
                "title": "Software Engineer",
                "company": "Copods",
                "companyUrl": "https://copods.co/",
                "location": null,
                "start": "2025",
                "end": "Present",
                "description": [
                  "Designed policy-driven admin interfaces for AI security platforms, controlling data access, visibility, logging, and integration across enterprise environments.",
                  "Implemented PII detection and redaction workflows with configurable policies for data validation, error handling, and sensitive data management.",
                  "Engineered a comprehensive frontend design system with tokens, components, and documentation to accelerate scalable feature development.",
                  "Refactored application initialization by consolidating context providers, eliminating 9+ redundant API calls, and reducing initial page load by 11 seconds for improved performance.",
                  "Optimized navigation and UX by adopting Next.js routing primitives, enhancing client-side transitions and fault tolerance.",
                  "Developed a data exploration dashboard translating natural language queries to SQL via backend services, rendering results as interactive charts and tables for efficient data insights.",
                  "Collaborated with product, design, and backend teams to align architecture with API contracts, championing testing, documentation, and rapid releases."
                ]
              },
              {
                "title": "Web 3.0 Developer",
                "company": "Konma Dao",
                "companyUrl": "https://www.konma.io/",
                "location": null,
                "start": "2023",
                "end": "2025",
                "description": [
                  "Integrated Next.js frontend with Lucid.js for seamless API and blockchain data source interactions in a multi-chain DEX, boosting transaction success to 95% via aggregation.",
                  "Developed secure smart contracts for carbon credit marketplace, ensuring 99.9% uptime, data integrity, and elimination of double-spending vulnerabilities.",
                  "Optimized smart contracts and architecture to cut transaction fees by 35%, enhancing cost-efficiency and scalability.",
                  "Built secure marketplace and registry for 300+ projects, integrating diverse data sources with Cardano blockchain using Lucid.js and Mesh.js.",
                  "Engineered robust Next.js solutions with Haskell backend and RESTful APIs for trustless data bridge functionality, improving platform security by 15%.",
                  "Drove execution of DEX roadmap, aligning with milestones to ensure timely data platform enhancements.",
                  "Created 5+ reusable React.js components, reducing development time by 40% and improving maintainability for scalable UIs.",
                  "Contributed to 10+ open-source projects monthly, maintaining documentation and guiding teams on API integrations and data solutions.",
                  "Designed and audited 7+ POC smart contracts using Aiken, enhancing code maintainability, data quality, and development efficiency by 20%.",
                  "Led 10-day bootcamp training 50+ developers in smart contract development, fostering best practices in secure data handling."
                ]
              }
            ],
            "projects": [],
            "education": [
              {
                "degree": "Bachelors’ of Engineering: Computer Engineering",
                "school": "Keystone School of Engineering",
                "location": "Pune, India",
                "year": "2023"
              }
            ],
            "skills": [
              "RESTful APIs",
              "Node.js",
              "Express.js",
              "MongoDB",
              "Firestore",
              "Next.js",
              "React.js",
              "JavaScript",
              "TypeScript",
              "Aiken",
              "Solidity",
              "Cardano CLI",
              "Lucid.js",
              "Mesh.js",
              "Blockchain Security",
              "TailwindCSS"
            ],
            "certificates": [
              {
                "name": "Aiken Development Program",
                "issuer": "Emurgo Academt",
                "year": null,
                "credentialUrl": null
              },
              {
                "name": "Cardano Blockchain Certified Associate (CBCA)",
                "issuer": "Cardano Foundation",
                "year": null,
                "credentialUrl": null
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Base Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Unique Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Match AI": {
      "main": [
        [
          {
            "node": "If Relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Job Match AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If Relevant": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update job relevancy in Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update job relevancy in Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Tailoring Ai": {
      "main": [
        [
          {
            "node": "remove wrapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Unique Jobs": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Details": {
      "main": [
        [
          {
            "node": "Job Match AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Resume Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Resume Tailoring Ai",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Save resume.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove wrapper": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save resume.json": {
      "main": [
        [
          {
            "node": "Generate Resume PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Resume Tailoring Ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Generate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Resume PDF": {
      "main": [
        [
          {
            "node": "Email Generate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run Emails Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Unique Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Tailoring Ai",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Job Match AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update contact after email sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read resume1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SUCCEEDED1": {
      "main": [
        [
          {
            "node": "Get Emails Dataset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If RUNNING1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If SUCCEEDED1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get run1": {
      "main": [
        [
          {
            "node": "If RUNNING1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "read resume2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read resume2": {
      "main": [
        [
          {
            "node": "Send a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a document1": {
      "main": [
        [
          {
            "node": "Message Company Details2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TO and CC emails": {
      "main": [
        [
          {
            "node": "read resume1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formating emails for storage": {
      "main": [
        [
          {
            "node": "Create contact in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails Dataset": {
      "main": [
        [
          {
            "node": "Formating emails for storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create contact in Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update contact after email sent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get TO and CC emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Emails Actor": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Job Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Emails Actor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Unique Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Company Details2": {
      "main": [
        [
          {
            "node": "Loop Over Unique Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Base Path": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Set Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Vars": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "90ce56e5-afef-4ddf-9d70-72537b7a4fe3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79a7aa25fa1a526575e9d16be2e37e3eb8dbd841332f42a9d7ebcef52a77cfbc"
  },
  "id": "AQMhu1iVCZkBsTDC",
  "tags": []
}